* {
    margin: 0;
}
@font-face {
    font-family: "Black Signature PERSONAL USE ONLY";
    src: url('./src/font/BlackSignaturePersonalUseOnlyRegular.otf');
}
@font-face {
    font-family: "ChangaOne-Regular";
    src: url('./src/font/ChangaOne-Regular.ttf');
}
@font-face {
    font-family: "Roboto";
    src: url('./src/font/Roboto.ttf');
}


/* шапка */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 50px; 
}
.logo-talking {
    font-family: "Black Signature PERSONAL USE ONLY"; /* "Talking" */
    font-size: 20px;
    color: #434343;
}
.logo h1 {
    font-size: 30px; /* "Travel" */
    font-weight: bold;
    color: #9154ff;
    line-height: 1.2;
}


.menu ul {
    display: flex;
    align-items: center;
    gap: 20px; 
    list-style: none;
}
.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}
nav.menu ul li a:hover {
    color: #9154ff; /* цвет при наведении */
}



/* иконка поиска */
.search-icon::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("src/icons/search.jpg");
    background-size: cover;
}
/* иконка пользователя */
.user-icon::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("src/icons/user.jpg"); 
    background-size: cover;
}



/* основное */
.hero-section {
    background-image: url('src/image/background.jpg'); 
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content {
    max-width: 800px;
    margin-left: 100px;
    margin-top: 20px;
}
h1 {
    font-family: "ChangaOne-Regular";
    font-size: 72px;
    font-weight: 400;
    line-height: 84px;
    color: #434343;
}
h1 span {
    color: #8A53FF; /* "talk" */
}
p {
    margin-top: 20px;
    font-size: 22px;
    color: #434343;
}


.buttons {
    margin-top: 40px;
}
button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.story-btn {
    background-color: #9154ff;
    color: white;
    margin-right: 10px;
    width: 165.17px;
    height: 46px;
    padding: 13.5px 9.52px 13.5px 9.52px;
}
.highlights-btn::before {
    content: "";
    position: absolute;
    left: 10px; 
    width: 24px;  
    height: 24px; 
    background-image: url('src/icons/play.png'); 
    background-size: cover;
    background-repeat: no-repeat;
}
.highlights-btn {
    position: relative;
    padding-left: 40px; 
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}