.discover-section {
    text-align: center;
}


.discover-section h1 {
    text-align: center;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 700;
    color: #9154FF;
}
.discover-section h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: "ChangaOne-Regular";
    font-weight: 400;
    color: #434343;
}


.destination-grid {
    margin: 0 76px;
    display: flex;
    justify-content: space-around; 
}


.destination-card {
    text-align: center;
    flex-basis: 22%;
}
.destination-card img {
    width: 100%;
    border-radius: 10px;
}
.destination-card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: "ChangaOne-Regular";
    font-weight: 400;
    color: #434343;
}
.destination-card a {
    font-size: 16px;
    font-family: "Roboto";
    color: #9154FF;
    text-decoration: none;
}
.destination-card a:hover {
    text-decoration: underline;
}