
.popular-destination {
    margin: 0 auto; 
    text-align: left; 
    width: 912px;
}

.text-section h1 {
    font-size: 22px;
    font-family: "Roboto";
    color: #9154FF;
    font-weight: 700;
}
.text-section h2 {
    font-size: 54px;
    font-family: "ChangaOne-Regular";
    color: #434343;
    font-weight: 400;
}


.text-author-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author {
    display: flex;
    align-items: center;
}
.author img {
    margin-right: 10px;
    width: 36px;
    height: 36px;
}
.author-info .author-name {
    margin-bottom: 5px;
    font-size: 20px;
    font-family: "Roboto";
}
.author-info .author-title {
    margin-top: 0;
    font-size: 16px;
    font-family: "Roboto";
    font-style: italic;
    color: #A2A7B1;
}


.destination-content {
    margin-top: 20px;
    position: relative;
}
.destination-content h3 {
    margin-top: 20px;
    font-size: 32px;
    font-family: "ChangaOne-Regular";
    color: #434343;
    font-weight: 400;
}
.destination-content img {
    width: 100%;
    height: 540px;
    border-radius: 10px;
}
.matterhorn-text {
    position: absolute;
    left: 270px;
    top: 28%;
    font-size: 70px;
    font-family: 'Black Signature PERSONAL USE ONLY';
    color: white;
}


.video-button {
    position: absolute;
    top: 40%;
    left: 44%;
    opacity: 0.6; 
}
.video-button img {
    width: 104px;
    height: 104px;
    cursor: pointer;
}

.location-description {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    font-family: "Roboto";
    color: #555;
    line-height: 1.6;
}
